body {
  margin: 0px;
  height: 100vh;
  padding-top: 12%;
  background-color: #212e52;

  display: flex;
  align-items: center;
}

*,
::before,
::after {
  box-sizing: border-box;
}

#container {
  width: 98%;
  height: 27rem;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  background-color: #011b3e;
  display: flex;
  flex-shrink: 0;
  min-width: 98%;
}

#left-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

#links-wraper {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-around;
  padding: 15px;
  padding-right: 4.5rem;
  margin-top: 20px;
  gap: 10px;
  width: 100%;

  height: 50%;
  /* border-bottom: 1px solid rgb(85, 84, 84); */
}
#list1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 2rem;
}

#list1 a {
  text-decoration: none;
  color: white;
}
#list2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#list2 a {
  text-decoration: none;
  color: white;
}

#list3 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#list3 a {
  text-decoration: none;
  color: white;
}

#list4 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#list4 a {
  text-decoration: none;
  color: white;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #3e3e3e;
  margin: 0.2em 0;
  padding: 0;
}

#flags-wraper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-shrink: 0;
  padding: 1rem;
  padding-right: 5rem;
}

.flags {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.flags-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: green;
  display: flex;
  flex-shrink: 0;
}
.flags-img img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.flages-names p {
  margin: 0;
  color: white;
}

#footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

#footer p {
  color: white;
}

#right-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-left: 1px solid #3e3e3e;
}
